<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DBNLPEntities" connectionString="metadata=res://*/Tools.BNLPModel.BNLPContext.csdl|res://*/Tools.BNLPModel.BNLPContext.ssdl|res://*/Tools.BNLPModel.BNLPContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WLAP;initial catalog=DBNLP;persist security info=True;user id=sa;password=arghya;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>