<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DBNLPEntities" connectionString="metadata=res://*/DBNLPModel.csdl|res://*/DBNLPModel.ssdl|res://*/DBNLPModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=ARPAN-LAP;Initial Catalog=DBNLP;User ID=sa;Password=arghya;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="Temp_DBNLPEntities" connectionString="metadata=res://*/Temp_BNNLPModel.csdl|res://*/Temp_BNNLPModel.ssdl|res://*/Temp_BNNLPModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WLAP;initial catalog=Temp_DBNLP;persist security info=True;user id=sa;password=arghya;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>